<div class="mt-10 bg-gray-100">
    <div class="max-w-6xl mx-auto overflow-hidden items-center">
        <div class="flex flex-col sm:flex-row mt-14 space-y-4 sm:space-x-6">
            <h1 class="font-bold text-2xl font-sans mt-3">For better experience, download the Swiggy app now</h1>
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/m/play_store.png" class="w-44 h-42">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/m/app_store.png" class="w-44 h-42">
        </div>
        <div class="flex flex-col sm:flex-row my-8 sm:my-14 mx-4 sm:mx-20">
            <div class="mb-4 sm:mb-0">
                <span><img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_800,h_800/portal/m/logo_192x192.png" class="w-14 h-14"></span>
            </div>
            <div class="flex flex-wrap sm:flex-nowrap mx-0 sm:mx-20 space-y-4 sm:space-y-0">
                <ul class="mx-4 sm:mx-8 font-serifs">
                    <li class="py-2"><b>Company</b></li>
                    <li class="py-2">About Us</li>
                    <li class="py-2">Swiggy Corporate</li>
                    <li class="py-2">Careers</li>
                    <li class="py-2">Team</li>
                    <li class="py-2">Swiggy One</li>
                    <li class="py-2">Swiggy Instamart</li>
                    <li class="py-2">Swiggy Dineout</li>
                    <li class="py-2">Swiggy Genie</li>
                </ul>
                <div>
                    <ul>
                        <li class="py-2"><b>Contact us</b></li>
                        <li class="py-2">Help & Support</li>
                        <li class="py-2">Partner with us</li>
                        <li class="py-2">Ride with us</li>
                    </ul>
                    <ul class="mx-2 font-serifs mt-4 sm:mt-10">
                        <li class="py-2"><b>Legal</b></li>
                        <li class="py-2">Terms & Conditions</li>
                        <li class="py-2">Cookie Policy</li>
                        <li class="py-2">Privacy Policy</li>
                        <li class="py-2">Investor Relations</li>
                    </ul>
                </div>
                <ul class="mx-4 sm:mx-8">
                    <li class="py-2"><b>Available in:</b></li>
                    <li class="py-2">Bangalore</li>
                    <li class="py-2">Gurgaon</li>
                    <li class="py-2">Hyderabad</li>
                    <li class="py-2">Delhi</li>
                    <li class="py-2">Mumbai</li>
                    <li class="py-2">Pune</li>
                </ul>
                <ul class="mx-4 sm:mx-8 mt-4 sm:mt-2">
                    <li class="py-2"><b>Life at Swiggy</b></li>
                    <li class="py-2">Explore with Swiggy</li>
                    <li class="py-2">Swiggy News</li>
                </ul>
            </div>
        </div>
    </div>
</div>
