<div  class="max-w-6xl mx-auto bg-white bg-gray-80 overflow-hidden items-center">
    <h1 class="font-bold font-sans text-2xl mt-9">Best Cuisines near me</h1>
<div class="flex flex-wrap">
    <div *ngFor="let i of Places" class="w-1/4"> 
        <div class="bg-white rounded-xl  p-4 transform transition-transform duration-300 hover:scale-105 flex">
          <h1 class="font-semibold text-base border border-gray-200 rounded-lg px-3 py-3 font-serifs" style="font-size:16px;">{{i}} Restaurant near me</h1>
        </div>
      </div>
</div>
</div>