<div *ngIf="isROpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-sm w-full">
    <button (click)="close()" class="w-5 mt-5">
      <img src="https://img.icons8.com/ios7/600/delete-sign.png" alt="Close">
    </button>
    <h1 class="font-semibold text-2xl mt-5">Sign In</h1>
    <input
      type="text"
      [(ngModel)]="username"
      placeholder="Username"
      class="w-full px-5 py-5 mt-5 border border-gray-300 focus:border-gray-400 focus:outline-none focus:ring-0" />

    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
      class="w-full px-5 py-5 mt-5 border border-gray-300 focus:border-gray-400 focus:outline-none focus:ring-0" />

    <button (click)="onSubmit()" class="bg-orange-600 text-white font-bold py-3 px-10 rounded-lg text-xl hover:bg-orange-700 w-full mt-7">
      Sign In
    </button>

    <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
    <p class="text-sm mt-4">By creating an account, I accept the Terms & Conditions & Privacy Policy</p>
  </div>
</div>

  
